.landing__logo{
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  border-radius: 250px 30px 200px 85px;
  position: absolute;
  top: 50%; 
  left: 50%; 
  background-color: #E8FFCE;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center; 
  box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.136);
}

.landing__log_txt{
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 500;
}