.header{
  background-color: #E8FFCE;
  border: 4px solid rgb(47, 0, 255);
  height: 90px;
  display: flex;
  justify-content: space-between; /* 子要素を左右に配置 */
  align-items: center; /* 子要素を垂直方向に中央に配置 */
}

.header__item_title{
  border: 2px solid red;
  margin-left: 30px;
}

.header__item_nav{
  border: 3px solid pink;
}
