.post-img_container{
  text-align: center;
  margin: 10px;
}
.img-preview_container{
  background-color: rgb(220, 220, 220);
  border: 1px dashed #969696;
  border-radius: 10px;
  height: 200px;
  width: 200px;
  margin: auto;
  box-shadow: 1px 1px 5px #969696;

}

.pre-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}