.user-toilet-post_container{
  text-align: center;
  overflow-y: auto; 
  height: 300px;
  margin: 10px;
}

.post_content{
   border: 2px solid rgb(175, 175, 175);
   margin-top: 10px;
  
}
.title {
  font-weight: bolder;
}
.rating_container{
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.cost{
  font-weight: bolder;
}

.rating{
  margin: 2%;
}

.img {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.facilities_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1px;
}

.facility_img{
  border: 1px solid black;
  border-radius: 5px;
  background-color: #E8FFCE;
}

.comment_container{
  margin: 10px;

}

textarea{
  resize: none;
}